.btn {
  background: $color_primary;
  border: none;
  color: #fff;
  font-family: Source-code;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 16px;

  &.outlined {
    background: none;

    &.primary {
      border: 1px solid $color_primary;
      color: $color_primary;
    }

    &.info {
      border: 1px solid $color_info;
      color: $color_info;
    }

    &.light {
      border: 1px solid #fff;
      color: #fff;
    }

    &.success {
      border: 1px solid $color_success;
      color: $color_success;
    }
  }
}

.hr {
  width: 100%;
  height: 2px;

  &.primary {
    background-color: $color_primary;
  }
}

.icon {
  background: none;
  border: none;
}