@font-face {
  font-family: Ubuntu-regular;
  src: url('~@/assets/fonts/ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
  font-family: Source-code;
  src: url('~@/assets/fonts/source-code/SourceCodePro.ttf');
}