.header {
  height: $header_height;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px;

  .title {
    color: #fff;
    font-weight: 700;
    font-size: 30px;
  }

  ul {
    list-style-type: none;
    display: inline-block;

    li {
      float: left;
      margin: 0 5px;

      a {
        display: block;
        color: rgb(138, 134, 134);
        text-align: center;
        padding: 10px 0px;
        margin: 0 10px;
        text-decoration: none;
        border-bottom: 5px solid transparent;
  
        &:hover {
          border-bottom: 5px solid #fff;
          font-weight: bold;
          color: #fff;
        }
      }

      &.active {
        a {
          border-bottom: 5px solid #fff;
          font-weight: bold;
          color: #fff;
        }
      }
    }
  }
}