@import "_vars.scss";
@import "_colors";
@import "_fonts.scss";
@import "_header.scss";

body {
  margin: 0 auto;
  font-family: Source-code;
}

.content {
  padding: 20px 100px;
  background-color: green;
  // height: calc(100vh - ($header_height));
}