@import "_vars.scss";
@import "_colors";
@import "_fonts.scss";
@import "_nav_bar.scss";

body {
  margin: 0 auto;
  font-family: Source-code;
}

.content {
  padding: $desktop_padding;
  min-height: calc(100vh - 116px);
}

@media only screen and (max-width: $mobile_width) {
  .content {
    padding: $mobile_padding;
    min-height: calc(100vh - 102px);
  }
}