$nav_height: 80px;
$color_primary: orange;
$desktop_padding: 16px 100px;
$mobile_padding: 16px 16px;
$mobile_width: 980px;
$color_info: rgb(30, 144, 255);
$color_success: #4e9f30;
$color_light: #cac4c4;